<footer class="mt-4 bg-black pb-1 pt-1">
    <div class="row my-2">
        <div class="col-12 col-md">
            <img src="../../../assets/img/nodo.png" aria-label="Bootstrap" class="bi my-auto mx-5" width="45" role="img"
        alt="">
        </div>
        <div class="col-6 col-md">
            <h5 class="text-white">Caracteristicas</h5>
            <ul class="list-unstyled text-small">
              <li><a class="link-secondary text-decoration-none" href="/">Inicio</a></li>
              <li><a class="link-secondary text-decoration-none" [routerLink]="['/inicio#tarifas']" routerLinkActive="active">Tarifas</a></li>
              <li><a class="link-secondary text-decoration-none" [routerLink]="['/inicio#preguntas']">Preguntas Frecuentes</a></li>
              <li><a class="link-secondary text-decoration-none" [routerLink]="['/inicio#nosotros']" routerLinkActive="active">Nosotros</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
          <h5 class="text-white">Contacto</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary text-decoration-none"></a></li>
                <li><a class="link-secondary text-decoration-none">Dirección: Mexico y Curazao Centro de Negocios Quo Hub.</a></li>
                <li><a class="link-secondary text-decoration-none">(07) 2102999</a></li>
                <li><a class="link-secondary text-decoration-none">info{{'@'}}electritelecom.com</a></li>
            </ul>
        </div>
    </div>
    <div class="col-4 col-md">
      <small class="d-block mb-3 text-white">Copyright © 2024 Apple Inc. Todos los derechos reservados.</small>
    </div>
</footer>
